In [1]:
import pandas

In [2]:
names = ['Bob', 'Jessica', 'john', 'Merry', 'Mel']
births = [968, 155, 77, 578, 973]

In [5]:
BabyDataSet = list(zip(names, births))

In [6]:
BabyDataSet

[('Bob', 968), ('Jessica', 155), ('john', 77), ('Merry', 578), ('Mel', 973)]

In [10]:
df = pandas.DataFrame(data=BabyDataSet, columns=["Names", "Births"])

In [11]:
df

     Names  Births
0      Bob     968
1  Jessica     155
2     john      77
3    Merry     578
4      Mel     973

In [12]:
df.to_csv?

In [14]:
df.to_csv('birth1880.csv', index=False, header=False)

In [16]:
df.to_csv('birth1880_.csv')

In [22]:
df = pandas.read_csv("birth1880.csv", header=None)
df

         0    1
0      Bob  968
1  Jessica  155
2     john   77
3    Merry  578
4      Mel  973

In [26]:
df = pandas.read_csv("birth1880.csv", names=["Names", "Births"])
df

     Names  Births
0      Bob     968
1  Jessica     155
2     john      77
3    Merry     578
4      Mel     973

In [34]:
df.dtypes

Names     object
Births     int64
dtype: object

In [36]:
df['Births'].max()

973

In [37]:
df['Names']

0        Bob
1    Jessica
2       john
3      Merry
4        Mel
Name: Names, dtype: object

In [30]:
sorted = df.sort_values(['Births'], ascending=False)
sorted

     Names  Births
4      Mel     973
0      Bob     968
3    Merry     578
1  Jessica     155
2     john      77

In [32]:
sorted.head(1)

  Names  Births
4   Mel     973

In [70]:
sorted.tail(1)

  Names  Births
2  john      77

In [80]:
import matplotlib
import matplotlib.pyplot as plt

In [82]:
print(df['Births'].plot())

MaxValue = df['Births'].max()

MaxName = df['Names'][df['Births'] == df['Births'].max()].values

Text = str(MaxValue) + " - " + MaxName

plt.annotate(Text, xy=(1, MaxValue), xytext=(8,0), xycoords=('axes fraction', 'data'), textcoords='offset points')

print("The most popular name")
df[df['Births'] == df['Births'].max()]

Axes(0.125,0.125;0.775x0.755)
The most popular name

  Names  Births
4   Mel     973