In [1]:
import pandas

In [45]:
df = pandas.read_csv("doc.txt")

In [46]:
df

   ID       City         State Country
0   1     Raipur  Chhattisgarh   India
1   2     Bhilai  Chhattisgarh   India
2   3       Durg  Chhattisgarh   India
3   4   Bilaspur  Chhattisgarh   India
4   5  Bhatapara  Chhattisgarh   India

In [4]:
df = df.set_index("ID")

In [5]:
df

          City          State  Country
ID
1       Raipur   Chhattisgarh    India
2       Bhilai   Chhattisgarh    India
3         Durg   Chhattisgarh    India
4     Bilaspur   Chhattisgarh    India
5    Bhatapara   Chhattisgarh    India

In [19]:
df.iloc[1, 2]

' India'

In [47]:
df.loc["2":"4", "City":"State"]

        City         State
2       Durg  Chhattisgarh
3   Bilaspur  Chhattisgarh
4  Bhatapara  Chhattisgarh

In [28]:
df.ix[2, 0]

' Bhilai'

In [31]:
df.index[1:3]

Int64Index([2, 3], dtype='int64', name='ID')

In [34]:
from geopy.geocoders import Nominatim

In [36]:
df["Continent"] = df.shape[0]*["Asia"]

In [38]:
df

          City          State  Country Continent
ID
1       Raipur   Chhattisgarh    India      Asia
2       Bhilai   Chhattisgarh    India      Asia
3         Durg   Chhattisgarh    India      Asia
4     Bilaspur   Chhattisgarh    India      Asia
5    Bhatapara   Chhattisgarh    India      Asia

In [56]:
nom = Nominatim()

In [54]:
df["Address"] = df["City"] +", "+ df["State"] +", "+ df["Country"]

In [55]:
df

   ID       City         State Country                         Address
0   1     Raipur  Chhattisgarh   India     Raipur, Chhattisgarh, India
1   2     Bhilai  Chhattisgarh   India     Bhilai, Chhattisgarh, India
2   3       Durg  Chhattisgarh   India       Durg, Chhattisgarh, India
3   4   Bilaspur  Chhattisgarh   India   Bilaspur, Chhattisgarh, India
4   5  Bhatapara  Chhattisgarh   India  Bhatapara, Chhattisgarh, India

In [58]:
df["Coordinates"] = df["Address"].apply(nom.geocode)

In [60]:
df

,ID,City,State,Country,Address,Coordinates
0,1,Raipur,Chhattisgarh,India,"Raipur, Chhattisgarh, India","(Raipur, Chhattisgarh, 493332, India, (21.2379..."
1,2,Bhilai,Chhattisgarh,India,"Bhilai, Chhattisgarh, India","(Bhilai, Durg, Chhattisgarh, India, (21.212067..."
2,3,Durg,Chhattisgarh,India,"Durg, Chhattisgarh, India","(Durg, Chhattisgarh, 491002, India, (21.189728..."
3,4,Bilaspur,Chhattisgarh,India,"Bilaspur, Chhattisgarh, India","(Bilaspur, Bilāspur, Bilaspur, Chhattisgarh, 4..."
4,5,Bhatapara,Chhattisgarh,India,"Bhatapara, Chhattisgarh, India","(Bhatapara, Durg, Chhattisgarh, 493118, India,..."

In [62]:
df["Latitude"] = df["Coordinates"].apply(lambda x: x.latitude if x != None else None)

In [64]:
df

,ID,City,State,Country,Address,Coordinates,Latitude
0,1,Raipur,Chhattisgarh,India,"Raipur, Chhattisgarh, India","(Raipur, Chhattisgarh, 493332, India, (21.2379...",21.237947
1,2,Bhilai,Chhattisgarh,India,"Bhilai, Chhattisgarh, India","(Bhilai, Durg, Chhattisgarh, India, (21.212067...",21.212068
2,3,Durg,Chhattisgarh,India,"Durg, Chhattisgarh, India","(Durg, Chhattisgarh, 491002, India, (21.189728...",21.189729
3,4,Bilaspur,Chhattisgarh,India,"Bilaspur, Chhattisgarh, India","(Bilaspur, Bilāspur, Bilaspur, Chhattisgarh, 4...",22.078563
4,5,Bhatapara,Chhattisgarh,India,"Bhatapara, Chhattisgarh, India","(Bhatapara, Durg, Chhattisgarh, 493118, India,...",21.770700

In [65]:
df["Longitude"] = df["Coordinates"].apply(lambda x: x.longitude if x != None else None)

In [67]:
df

,ID,City,State,Country,Address,Coordinates,Latitude,Longitude
0,1,Raipur,Chhattisgarh,India,"Raipur, Chhattisgarh, India","(Raipur, Chhattisgarh, 493332, India, (21.2379...",21.237947,81.633683
1,2,Bhilai,Chhattisgarh,India,"Bhilai, Chhattisgarh, India","(Bhilai, Durg, Chhattisgarh, India, (21.212067...",21.212068,81.373285
2,3,Durg,Chhattisgarh,India,"Durg, Chhattisgarh, India","(Durg, Chhattisgarh, 491002, India, (21.189728...",21.189729,81.274647
3,4,Bilaspur,Chhattisgarh,India,"Bilaspur, Chhattisgarh, India","(Bilaspur, Bilāspur, Bilaspur, Chhattisgarh, 4...",22.078563,82.147648
4,5,Bhatapara,Chhattisgarh,India,"Bhatapara, Chhattisgarh, India","(Bhatapara, Durg, Chhattisgarh, 493118, India,...",21.770700,81.812614

In [69]:
df_t = df.T
df_t

,0,1,2,3,4
ID,1,2,3,4,5
City,Raipur,Bhilai,Durg,Bilaspur,Bhatapara
State,Chhattisgarh,Chhattisgarh,Chhattisgarh,Chhattisgarh,Chhattisgarh
Country,India,India,India,India,India
Address,"Raipur, Chhattisgarh, India","Bhilai, Chhattisgarh, India","Durg, Chhattisgarh, India","Bilaspur, Chhattisgarh, India","Bhatapara, Chhattisgarh, India"
Coordinates,"(Raipur, Chhattisgarh, 493332, India, (21.2379...","(Bhilai, Durg, Chhattisgarh, India, (21.212067...","(Durg, Chhattisgarh, 491002, India, (21.189728...","(Bilaspur, Bilāspur, Bilaspur, Chhattisgarh, 4...","(Bhatapara, Durg, Chhattisgarh, 493118, India,..."
Latitude,21.2379,21.2121,21.1897,22.0786,21.7707
Longitude,81.6337,81.3733,81.2746,82.1476,81.8126

In [72]:
df

,ID,City,State,Country,Address,Coordinates,Latitude,Longitude
0,1,Raipur,Chhattisgarh,India,"Raipur, Chhattisgarh, India","(Raipur, Chhattisgarh, 493332, India, (21.2379...",21.237947,81.633683
1,2,Bhilai,Chhattisgarh,India,"Bhilai, Chhattisgarh, India","(Bhilai, Durg, Chhattisgarh, India, (21.212067...",21.212068,81.373285
2,3,Durg,Chhattisgarh,India,"Durg, Chhattisgarh, India","(Durg, Chhattisgarh, 491002, India, (21.189728...",21.189729,81.274647
3,4,Bilaspur,Chhattisgarh,India,"Bilaspur, Chhattisgarh, India","(Bilaspur, Bilāspur, Bilaspur, Chhattisgarh, 4...",22.078563,82.147648
4,5,Bhatapara,Chhattisgarh,India,"Bhatapara, Chhattisgarh, India","(Bhatapara, Durg, Chhattisgarh, 493118, India,...",21.770700,81.812614

In [74]:
df.drop("Address", 1)

,ID,City,State,Country,Coordinates,Latitude,Longitude
0,1,Raipur,Chhattisgarh,India,"(Raipur, Chhattisgarh, 493332, India, (21.2379...",21.237947,81.633683
1,2,Bhilai,Chhattisgarh,India,"(Bhilai, Durg, Chhattisgarh, India, (21.212067...",21.212068,81.373285
2,3,Durg,Chhattisgarh,India,"(Durg, Chhattisgarh, 491002, India, (21.189728...",21.189729,81.274647
3,4,Bilaspur,Chhattisgarh,India,"(Bilaspur, Bilāspur, Bilaspur, Chhattisgarh, 4...",22.078563,82.147648
4,5,Bhatapara,Chhattisgarh,India,"(Bhatapara, Durg, Chhattisgarh, 493118, India,...",21.770700,81.812614