In [2]:
import os

In [3]:
os.listdir()

['.ipynb_checkpoints',
 'load_files.ipynb',
 'pr1.py',
 'pr_loadfiles.ipynb',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx']

In [4]:
import pandas

In [5]:
df = pandas.read_csv("supermarkets-commas.txt")
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [6]:
df.set_index("ID")

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [9]:
df.iloc[0:3, 2:4]

            City             State
0  San Francisco          CA 94114
1  San Francisco          CA 94119
2  San Francisco  California 94114

In [10]:
df.loc["3":"5", "State":"Employees"]

        State Country        Name  Employees
3    CA 94114     USA  Ben's Shop         10
4  California     USA     Sanchez         12
5    CA 94114     USA  Richvalley         20

In [11]:
df.ix[3:5, "Name"]

3    Ben's Shop
4       Sanchez
5    Richvalley
Name: Name, dtype: object

In [12]:
df2 = pandas.read_csv("supermarkets-semi-colons.txt", sep=";")

In [13]:
df2

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20